extend baseEmail
block content
    p
        a(href="http://localhost:5173/", target='_blank').text-title HoYoViVu
    p Xin chào, #{name}
    p Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn.
    p Mã OTP của bạn = 
        strong #{otp}
        |, vui lòng xác thực OTP của tại link: #{url}.
    p (Lưu ý rằng hiện tại trang web cho hành động này chưa được triển khai.)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Xác thực OTP của bạn
    p Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này. Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi! 🙏
    div.text-info
        strong Trân trọng,
        span.text-info_name HoYoViVU