.footer {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.footer-title {
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-title h4 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
}

.footer-desc {
  font-size: 14px;
  font-weight: 450;
  line-height: 1.6;
  padding-bottom: 24px;
  border-bottom: 1px solid #f1f5f9;
}
.copy-right {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-link {
  transition: linear 0.25s;
}
.social-link:hover {
  opacity: 0.5;
}
.footer-heading {
  color: var(--primary-color);
  padding-left: 2rem;
  margin-bottom: 14px;
  font-weight: 700;
}
.footer-category-item {
  margin-bottom: 32px;
}
.footer-category-item:last-child {
  margin-bottom: 0;
}
.footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-link {
  transition: linear 0.2s;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-link svg {
  height: 1.2rem;
  width: 1.2rem;
}
.footer-link:hover {
  color: #657ef8;
}
