.booking {
  padding: 1.5rem 2rem;
}

.booking__top {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(229, 231, 235);
}

.booking__top h5 {
  font-size: 1.65rem;
  font-weight: 700;
  color: red;
}

.booking__top h5 span {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-color);
}

.booking__form {
  padding-top: 1.5rem;
}

.booking__form h5 {
  margin-bottom: 1rem;
}

.booking__form input {
  width: 100%;
  padding: 0.5rem;
  /* border-radius: 0.5rem; */
  color: var(--heading-color);
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid rgb(229, 231, 235);
}

.booking__form input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.booking__info-form {
  padding: 1rem;
  border: 1px solid rgb(229, 231, 235, 0.5);
  border-radius: 5px;
}
.booking__bottom ul {
  margin-bottom: 20px;
}

.booking__bottom li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking__bottom li h5,
.booking__bottom li span {
  margin-bottom: 0px;
  font-size: 1rem;
  color: var(--text-color);
}

.total h5,
.total span {
  font-weight: 700;
  font-size: 1.1rem;
}

.total span {
  color: red !important;
}
