.loading-page__text {
  position: relative;
  font-size: 3.8rem;
  font-weight: 800;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  margin-right: 20px;
}
.loading-page__text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  -webkit-text-stroke: 0vw var(--primary-color);
  overflow: hidden;
  animation: loading 1s linear infinite;
  border-right: 2px solid var(--primary-color);
}

@keyframes loading {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.loading-page__img {
  width: 80px;
  height: 80px;
}
