.mHisf {
  border-bottom-color: #000 !important;
  border-bottom-width: 2px !important;
}
.fxvrKk {
  font-size: 16px !important;
  font-weight: 700 !important;
}
.kUMlDB {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--text-color) !important;
}
.table-img {
  margin: 10px 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
.table-item__2t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.table-item__special {
  padding: 0px 5px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
}
.role-admin {
  background-color: red;
}
.role-guide {
  background-color: orange;
}
.role-user {
  background-color: var(--primary-color);
}
.table-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.action-btn {
  padding: 4px 5px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.action-btn:hover {
  opacity: 0.6;
}
.action-btn__detail {
  background-color: #61fbca;
}
.action-btn__edit {
  background-color: var(--primary-color);
}
.action-btn__delete {
  background-color: red;
}
