.container-size_sm {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.text-sm {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
}

.text-pointer {
  cursor: pointer;
}
