.main-admin {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  position: relative;
}
#sidebar-admin {
  max-height: 100vh;
  width: 70px;
  min-width: 70px;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: sticky;
  top: 0;
  left: 0;
}

#sidebar-admin.expand {
  width: 260px;
  min-width: 260px;
}
#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}
#toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}
.sidebar-logo {
  margin: auto 0;
}
.sidebar-logo a {
  color: #fff;
  font-size: 26px;
  font-weight: 800;
}
#sidebar-admin:not(.expand) .sidebar-logo,
#sidebar-admin:not(.expand) .sidebar-link span {
  display: none;
}
.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}
.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
}
.sidebar-link i {
  font-size: 1.2rem;
  margin-right: 0.75rem;
}
.sidebar-link:hover,
.active-admin {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 5px solid var(--secondary-color) !important;
}
.sidebar-item {
  position: relative;
}
.sidebar-dropdown .sidebar-item {
  border-bottom: 1px solid #6593f1;
}
.sidebar-dropdown__item {
  padding-left: 20%;
}
#sidebar-admin:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: var(--primary-color);
  padding: 0;
  min-width: 15rem;
  display: none;
}
#sidebar-admin:not(.expand)
  .sidebar-item:hover
  .has-dropdown
  + .sidebar-dropdown {
  display: block;
  max-height: 15rem;
  width: 100%;
  opacity: 1;
}
#sidebar-admin.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  content: "";
  border: solid;
  border-width: 0 0.1rem 0.1rem 0;
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar-admin .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
.layout-admin__footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
