.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
.swiper-client-msg {
  height: 160px;
  padding: 2.5rem 3rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: left;
  box-shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  position: relative;
}

.swiper-client-msg p {
  height: 80px;
  overflow: hidden;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #475467;
}

.swiper-client-msg p::before {
  content: url("../../assets/img/quote.svg");
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 2rem;
}

.swiper-client-data img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}
.client-data-details h6 {
  font-weight: 700;
  font-size: 16px;
}
.client-data-details p {
  text-transform: capitalize;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
}
