.blog-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-blog__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 20px;
}

.blog__body {
  flex-grow: 1;
}

.blog-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #475467;
}

.blog-user__avatar .user-avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.blog-date {
  color: #8191a7;
  font-size: 12px;
}

.blog__footer {
  padding: 20px 0 0;
  border-top: 1px solid var(--gray-200, #eaecf0);
}

.blog-like {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #eae2e1;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--text-color);
  cursor: pointer;
}

.blog-like:hover,
.blog-liked {
  border-color: red;
  color: red;
  background-color: #fbd0d8;
}

.button-icon {
  border-radius: 50%;
  padding: 8px 12px;
}

.blog-country {
  display: inline-block;
  background-color: #f2f4f7;
  color: #344054;
  padding: 2px 8px;
  border-radius: 16px;
}

.container-medium {
  max-width: 896px;
}

.blog-header__title {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f1f4f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-img-upload_tip {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 16px;
}
.form-img-upload__imgs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-right: -16px;
  margin-bottom: -16px;
}
.form-img-upload__add {
  text-align: center;
  font-size: 14px;
  background-color: #b2bdce;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form-img-upload__img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin: 0 16px 16px 0;
  position: relative;
}
.form-img-upload__add i {
  font-size: 55px;
  color: #fff;
}
.upload-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: block;
}
.upload-status {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}
.upload-status i {
  height: 28px;
  padding: 4px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  color: #fff;
}
.upload-status:hover {
  opacity: 0.8;
}
