.review-innput__star {
  display: none;
}

.tour-review_icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.reviews:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}
.review-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 10px;
}
.user-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  object-fit: cover;
  border: 2px solid var(--primary-color);
}
.review-info h5 {
  margin-bottom: 0;
}
.review-info p {
  font-size: 12px;
  color: var(--text-color);
  margin-bottom: 0;
}
.review-ratings {
  color: #ffc107;
}
.review-ratings span {
  font-size: 16px;
  font-weight: 500;
}
.user-review {
  font-weight: 400;
  margin-left: 4.5rem;
  margin-bottom: 15px;
  color: #475467;
}
